@function cal($num){
	@return $num/20;
}
span{
	font-family:'iconfont';
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
#top{
	img{
		height:cal(385rem);
		width:100%;
	}
	.pane{
		p{
			color:#424242;
			font-size:cal(13rem);
			margin-top:cal(14rem);
			margin-left:cal(13rem);
		}
		h6{
			float:left;
			color:#333333;
			font-size:cal(9rem);
			font-weight:normal;
			margin-top:cal(5rem);
			margin-left:cal(13rem);
		}
		h4{
			float:left;
			color:#333333;
			font-size:cal(21rem);
		}
		del{
			float:left;
			color:#999999;
			font-size:cal(10rem);
			margin-top:cal(3rem);
			margin-left:cal(3rem);
		}
		h3{
			float:left;
			height:cal(14rem);
			width:cal(26rem);
			background:#ffe8ee;
			font-size:cal(11rem);
			margin-top:cal(20rem);
			margin-left:cal(-25rem);
			color:#ff2255;
			font-weight:normal;
		}
		h5{
			clear:both;
			font-weight:normal;
			font-size:cal(11rem);
			color:#999999;
			margin-left:cal(13rem);
			position:relative;
		}
		h5:after{
			float:left;
			position:absolute;
			content:'';
			width:cal(309rem);
			height:1px;
			background:#eeeeee;
			top:cal(30rem);
			left:cal(-3rem);
		}
		span{
			float:left;
			color:#666666;
			margin-top:cal(22rem);
			font-size:cal(9rem);
			margin-left:cal(13rem);
			margin-right:cal(3rem);
		}
		span:nth-child(4){
			clear:both;
			float:right;
			margin-left:cal(20rem);
		}
		h2{
			float:left;
			color:#666666;	
			font-size:cal(9rem);
			margin-top:cal(20rem);
			margin-right:cal(5rem);
			font-weight:normal;
			margin-bottom:cal(12rem);
		}
		hr{
			clear:both;
			height:cal(8rem);
			background:#eaeaea;
			border:none;
		}
	}
	.new{
		p{
			float:left;
			font-size:cal(10rem);
			width:cal(60rem);
			background:#ff527d;
			color:#fff;
			padding-left:cal(3rem);
			padding-right:cal(3rem);
			margin-left:cal(13rem);
			margin-right:cal(5rem);
			border-radius:cal(5rem);
			margin-bottom:cal(10rem);
		}
		h1{
			float:left;
			font-size:cal(10rem);
			margin-right:cal(3rem);
			color:#999999;
			font-weight:normal;
		}
		h2{
			float:left;
			font-size:cal(10rem);
			color:#999999;
			font-weight:normal;
			margin-right:cal(15rem);
		}
		span{
			float:left;
			font-size:cal(9rem);
		}
		hr{
			clear:both;
			height:cal(8rem);
			background:#eaeaea;
			border:none;
		}
	}
	.elect{
		.box{
			p{
			float:left;
			font-size:cal(10rem);
			margin-left:cal(13rem);
			color:#666666;
			margin-bottom:cal(10rem);
		}
		span{
			float:right;
			font-size:cal(9rem);
			margin-right:cal(20rem);
		}
		hr{
			clear:both;
			height:cal(8rem);
			background:#eaeaea;
			border:none;
		}
		h1{
			float:left;
			font-size:cal(11rem);
			color:#999999;
			left:cal(13rem);
			font-weight:normal;
			position:relative;
		}
		h1:after{
			position:absolute;
			content:'';
			height:cal(11rem);
			width:1px;
			background:#999;
			top:cal(3rem);
			left:cal(75rem);
		}
		h2{
			float:left;
			font-size:cal(11rem);
			color:#999999;
			margin-left:cal(20rem);
			font-weight:normal;
			margin-right:cal(100rem);
		}
		h3{
			float:left;
			height:cal(20rem);
			width:cal(64rem);
			background:#ffe8ee;
			margin-left:cal(13rem);
			margin-right:cal(5rem);
			margin-top:cal(10rem);
			font-size:cal(11rem);
			color:#ff2255;
			font-weight:normal;
			text-align:center;
			line-height:cal(20rem);
		}
	}
		.son{
			clear:both;
			margin-left:cal(13rem);
			h1{
				float:left;
				height:cal(25rem);
				width:cal(25rem);
				background:#f9ecc0;
				margin-top:cal(13rem);
				margin-right:cal(5rem);
				border-radius:50%;
			}
			p{
				float:left;
				color:#424242;
				font-size:cal(11rem);
				margin-top:cal(15rem);
			}
			h2{
				clear:both;
				float:left;
				font-weight:normal;
				color:#727272;
				font-size:cal(11rem);
				margin-top:cal(12rem);
			}
			h3{
				clear:both;
				font-weight:normal;
				color:#727272;
				font-size:cal(11rem);
				position:relative;
			}

		}
		h4{
				width:cal(300rem);
				height:1px;
				background:#eeeeee;
				margin-left:cal(13rem);
				margin-top:cal(10rem);
				font-weight:normal;
		}
		hr{
			clear:both;
			height:cal(8rem);
			background:#eaeaea;
			border:none;
		}
	}
}
#center{
	float:left;
	margin-left:cal(13rem);
	.box{
		img{
		float:left;
		width:cal(25rem);
		margin-right:cal(10rem);
		}
		h1{
			float:left;
			font-size:cal(11rem);
			color:#333;
		}
		h2{
			float:left;
			color:#ff2255;
			font-size:cal(11rem);
		}
		.son{
			float:left;
			height:cal(24rem);
			width:cal(56rem);
			border:1px solid #ff5777;
			margin-left:cal(60rem);
			p{
				float:left;
				font-size:cal(11rem);
				color:#ff5777;
				line-height:cal(24rem);
				margin-left:cal(11rem);
			}
			span{
				float:left;
				font-size:cal(5rem);
				color:#ff5777;
				line-height:cal(24rem);
			}
		}
	}
	.pane{
		float:left;
		margin-top:cal(15rem);
		margin-right:cal(30rem);
		margin-bottom:cal(40rem);
		h1{
			font-size:cal(11rem);
			color:#333;
			font-weight:normal;
		}
		h2{
			margin-right:cal(30em);
			font-size:cal(11rem);
			color:#999;
			font-weight:normal;
			position:relative;
		}
		h3{
			font-size:cal(11rem);
			color:#999;
		}
		h2:after{
			position:absolute;
			content:'';
			width:1px;
			height:cal(54rem);
			background:#e5e5e5;
			left:cal(60rem);
			top:cal(-20rem);
		}
	}
}
hr{
	clear:both;
	width:cal(320rem);
	height:cal(8rem);
	background:#eaeaea;
	border:none;
	margin-top:cal(40rem);
}
#bottom{
	.box{
		ol{
			clear:both;
			height:cal(37rem);
			width:100%;
			background:#fff;
			border-bottom:1px solid #d9d9d9;
		}
		li a{
			float:left;
			color:#333333;
			font-size:cal(13rem);
			margin-left:cal(15rem);
			margin-right:cal(35rem);
			margin-top:cal(5rem);
			margin-bottom:cal(10rem);
		}
	}
	.pane{
		clear:both;
		p{
			width:cal(10rem);
			position:relative;
			left:cal(13rem);
		}
		p:after{
			clear:both;
			position:absolute;
			content:'';
			width:cal(100rem);
			height:1px;
			background:#a3a3a5;
			top:cal(15rem);
		}
		h1{
			font-size:cal(11rem);
			color:#727272;
			font-weight:normal;
		}
		h2{
			float:left;
			width:cal(10rem);
			position:relative;
			left:cal(293rem);
			font-weight:normal;
		}
		h2:before{
			position:absolute;
			content:'';
			width:cal(100rem);
			height:1px;
			background:#a3a3a5;
			left:cal(-100rem);
			top:cal(22rem);
		}
	}
	.effect{
		p{
			clear:both;
			font-size:cal(11rem);
			margin-left:cal(13rem);
			margin-bottom:cal(10rem);
		}
		#li1{
			float:left;
			width:100%;
			img{
				width:100%;
			}
		}
		ul{
			float:left;
			.col{
				color:#eb4868;
			}
		}
		ul li{
			font-size:cal(11rem);
			color:#727272;
			margin-left:cal(13rem);
			margin-right:cal(30rem);
			margin-bottom:cal(20rem);
		}
	}
	.hot{
		clear:both;
		h3{
			font-size:cal(11rem);
			margin-left:cal(13rem);
			font-weight:normal;
		}
		.box{
			float:left;
			height:cal(180rem);
			width:cal(94rem);
			background:#fff;
			margin-left:cal(10rem);
			margin-bottom:cal(10rem);
			img{
				width:cal(94rem);
			}
			p{
				font-size:cal(11rem);
			}
			h1{
				float:left;
				font-size:cal(11rem);
				font-weight:normal;
			}
			span{
				float:left;
				font-size:cal(11rem);
				margin-left:cal(5rem);
			}
			h2{
				font-size:cal(11rem);
				font-weight:normal;
			}
		}
		.box:nth-child(12){
			margin-bottom:cal(50rem);
		}
	}
}
#fix{
	.box{
		position:fixed;
		bottom:0;
		height:cal(42rem);
		width:calc(100% - 2px);
		background:#fff;
		border:1px solid #ededed;
		border-left:none;
		border-right:none;
		.son{
			float:left;
			height:cal(42rem);
			width:cal(49rem);
			border-right:1px solid #ededed;
			span{
				float:left;
				font-size:cal(15rem);
				margin-top:cal(3rem);
				margin-bottom:cal(7rem);
				margin-left:cal(17rem);
			}
			p{
				clear:both;
				font-size:cal(11rem);
				margin-left:cal(13rem);
			}
		}
		.son:nth-child(2){
			border-right:none;
		}
		.pane{
			float:left;
			height:cal(43rem);
			width:cal(110rem);
			background:#ffe6e8;
			p{
				font-size:cal(11rem);
				color:#ff5777;
				text-align:center;
				line-height:cal(43rem);
			}
		}
		.case{
			float:left;
			height:cal(43rem);
			width:cal(109rem);
			background:#ff527d;
			p{
				font-size:cal(11rem);
				color:#fff;
				text-align:center;
				line-height:cal(43rem);
			}
		}
	}
}
#right{
	clear:both;	
	position:fixed;
	right:cal(12rem);
	bottom:cal(40rem);
	z-index:1;
	.nav{
		position:relative;
		div{
			margin-bottom:cal(15rem);
			border-radius:50%;			
			height:cal(50rem);
			width:cal(50rem);
			opacity:0.7;
			filter:alpha(opacity = 70);
			background:black;
		}
		p{
			position:absolute;
			right:cal(11rem);
			bottom:cal(8rem);
			span{				
				display:block;
				text-align:center;
				font-size:cal(13rem);
				color:#fff;
				font-family:'iconfont';
			}
			
		}
		#none{
			position:absolute;
			color:#fff;
			left:cal(20rem);
			top:cal(10rem);
			display:none;
		}
	}
	#toTop{
		display:none;
	}	
}
#shadow{
	position:fixed;
	left:0;
	top:0;
	display:none;
	opacity:0.6;
	filter:alpha(opacity=60);
	width:100%;
	height:100%;
	background:black;
}
#nav2{
	position:fixed;
	right:cal(12rem);
	bottom:cal(235rem);
	display:none;
	.nav{
		position:relative;
		margin-bottom:cal(10rem);
		width:320px;
		height:cal(40rem);		
		div{
			position:relative;
			position:absolute;
			right:cal(5rem);
			bottom:0;
			margin-bottom:cal(15rem);
			border-radius:50%;			
			height:cal(40rem);
			width:cal(40rem);
			background:#ededed;
		}
		b{
			position:absolute;
			right:cal(50rem);
			bottom:cal(25rem);
			display:block;
			i{
				font-style:normal;
				font-size:cal(13rem);
				color:#fff;
				font-weight:normal;
			}
			
		}
		p{
			position:absolute;
			right:cal(12rem);
			bottom:cal(22rem);
			span{				
				font-size:cal(25rem);
				font-family:'iconfont';
			}
		}
	}	
}
#menu{
	.box{
		position:fixed;
		bottom:0;
		height:cal(290rem);
		width:cal(320rem);
		background:#fff;
		img{
			float:left;
			width:cal(85rem);
			margin-top:cal(-50rem);
			margin-left:cal(13rem);
		}
		p{
			float:left;
			margin-top:cal(5rem);
			font-size:cal(15rem);
			margin-left:cal(10rem);
		}
		h1{
			float:left;
			font-size:cal(11rem);
			font-weight:normal;
			margin-left:cal(-50rem);
			margin-top:cal(25rem);
		}
		h2{
			float:left;
			margin-top:cal(45rem);
			margin-left:cal(-50rem);
			font-size:cal(11rem);
		}
		h3{
			font-weight:normal;
			float:right;
			margin-right:cal(10rem);
			margin-top:cal(10rem);
		}
		.col{
			b{
			clear:both;
			float:left;
			font-size:cal(12rem);
			margin-left:cal(13rem);
			margin-top:cal(10rem);
			}
			span{
				float:left;
				font-size:cal(11rem);
				border:1px solid red;
				padding:cal(10rem);
				margin-top:cal(30rem);
				margin-left:cal(-20rem);
				margin-right:cal(30rem);
			}
		}
		#list{
			li{
				clear:both;
				float:left;
				font-size:cal(11rem);
				margin-top:cal(10rem);
				margin-left:cal(13rem);
				input{
					height:cal(20rem);
					width:cal(20rem);
				}
			}
		}
	}
}