@function cal($num){
	@return $num/20;
}
$lef:left;
$rig:right;
a{
	text-decoration:none;
}
#top{
	width:cal(317rem);
	height:cal(37rem);
	margin-top:cal(5rem);
	span{
		font-family:'iconfont';
		padding:cal(5rem) cal(13rem) 0 cal(16rem);
		float:left;
	}
	.search{
		float:left;
		width:cal(226rem);
		background:#eee;
		margin-top:cal(5rem);
		margin-bottom:cal(6rem);
		span{
			float:left;
			font-family:'iconfont';
			padding-top:5px;
			padding-left:7px;
			padding-right:10px;
			padding-bottom:7px;
			font-size:cal(13rem);
		}
		input{
			float:left;
			margin-top:cal(3rem);
			background:#eee;
			border:none;
			outline:none;
			font-size:cal(11rem);
		}
	}
	.top-right{
		span{
			font-family:'iconfont';
			float:right;
			padding:cal(5rem) cal(10rem) 0 cal(3rem);
		}
	}
	.top-middle{
		.line{
			clear:both;
			width:100%;
			border:1px solid #eee;
		}
		#box{
			width:cal(320rem);  
            height:cal(130rem);  
            overflow:hidden;  
            position:relative;  
            ul li{
            	float:left;
            }
		}
		#mylist{
			position:absolute;  
            width:cal(1280rem);
            height:cal(130rem); 
            left:0px;  
            top:0px;  
            list-style-type:none; 
            transition:2s;
            img{
            	width:cal(320rem);
            } 
		}
		ul#underNum{
			position:absolute;  
            right:cal(1rem);  
            bottom:cal(10rem);   
            width:cal(150rem);  
            height:cal(30rem);  
            list-style:none;
            li{
            	text-align:center;  
	            width:cal(30rem);  
	            height:cal(30rem);  
	            line-height:cal(30rem); 
	            a{
	            	text-decoration:none; 
	            } 
            }
		}
	}
	.top-bottom{
		width:cal(105rem);
		float:left;
		h1{
			font-size:cal(11rem);
			color:#ff6801;
			margin-left:cal(30rem);
			margin-top:cal(9rem);
		}
		h2{
			font-size:cal(11rem);
			color:#666;
			margin-left:cal(25rem);
			margin-top:cal(6rem);
		}
		img{
			width:cal(45rem);
			margin-left:cal(25em);
		}
	}
	.hgr{
		float:left;
		height:cal(65rem);
		width:1px;
		background:#eee;
		margin-top:cal(18rem);
	}
	.hgr1{
		clear:both;
		height:cal(8rem);
		width:100%;
		background:#eee;
	}
}
#test{
	float:left;		
	overflow:hidden;
	margin-top:cal(15rem);
	p{
		clear:both;
		float:left;
		margin-right:cal(6rem);
		padding-left:cal(14rem);
		font-size:cal(13rem);
		b{
			padding:cal(5rem);
		}
	}
	h4{
		float:left;
		border-radius:1px;
		font-size:cal(9rem);
		color:#fff;
		line-height:cal(17rem);;
		text-align:center;
		height:cal(17rem);
		width:cal(19rem);
		background:black;
	}
	span{
		float:left;
		font-size:cal(8rem);
		line-height:cal(17rem);
		text-align:center;
		width:cal(8rem);
	}
}
#more{
	p{
		float:right;
		margin-top:cal(15rem);
		font-size:cal(11rem);
		margin-right:cal(6rem);
		color:#999999;
	}
	.box{
		float:right;
		height:0;
		width:0;
		margin-top:cal(17rem);
		border-top:cal(6rem) solid white;
		border-bottom:cal(6rem) solid white;
		border-left:cal(8rem) solid #999;
		border-right:cal(6rem) solid white;
		margin-right:cal(20rem);
	}
	.rob{
		clear:both;
		.one{
			float:left;
			img{
				float:left;
				width:cal(60rem);
				margin-left:cal(10rem);
				margin-top:cal(10rem);
			}
			p{
				clear:both;
				float:left;
				margin-left:cal(4rem);
				font-size:cal(11rem);
				color:#666666;
			}
			h1{
				width:cal(55rem);
				clear:both;
				font-weight:normal;
				font-size:cal(9rem);
				margin-left:cal(2rem);
				color:#ff2255;
			}
			del{
				font-size:cal(9rem);
				color:#888888;
			}
		}
	}
	.hgr1{
		clear:both;
		float:left;
		height:cal(8rem);
		width:100%;
		background:#eee;
		margin-top:cal(5rem);
	}	
}
#affor{
	float:left;
	p{
		color:#333333;
		font-size:11px;
		margin-top:cal(10rem);
		margin-left:cal(9rem);
		margin-bottom:cal(13rem);
	}
	.box{
		float:left;
		height:cal(135rem);
		width:cal(159rem);
		border:1px solid #e5e5e5;
		border-left:none;
		border-bottom:none;
		h1{
			color:#333333;
			font-size:cal(11rem);
			margin:cal(25rem) auto cal(5rem) cal(44rem);
		}
		h2{
			color:#ff5f7e;
			font-size:cal(11rem);
			margin-left:cal(57rem);
			margin-bottom:cal(5rem);
		}
		img{
			margin-left:cal(50rem);
			width:cal(65rem);
		}
	}
	.pane{
		float:right;
		height:cal(67rem);
		width:cal(160rem);
		border:1px solid #e5e5e5;
		border-left:none;
		border-right:none;
		border-bottom:none;
		h1{
			float:left;
			color:#333333;
			font-size:cal(11rem);
			margin:cal(25rem) auto cal(5rem) cal(10rem);
		}
		h2{
			clear:both;
			float:left;
			color:#ff5f7e;
			font-size:cal(11rem);
			margin-left:cal(10rem);
			margin-bottom:cal(5rem);
		}
		img{
			float:left;
			width:cal(50rem);
			margin-top:cal(-30rem);
			margin-left:cal(30rem);
		}
	}
	.able{
		float:left;
		.son{
			float:left;
			height:cal(108rem);
			width:cal(105rem);
			border:1px solid #e5e5e5;
			border-right:none;
			border-bottom:none;
			h1{
			color:#333333;
			font-size:cal(11rem);
			text-align:center;
			}
			h2{
				text-align:center;
				color:#ff5f7e;
				font-size:cal(11rem);
				margin-bottom:cal(5rem);
			}
			img{
				width:cal(50rem);
				margin-left:cal(30rem);
			}
		}
	}
	.gaine{
		clear:both;
		height:cal(75rem);
		width:100%;
		background:#e5e5e5;
		img{
			float:left;
			height:cal(65rem);
			margin-left:cal(10rem);
			margin-top:cal(10rem);
		}
	}
}
#hot{
	float:left;
	p{
		margin-left:cal(105rem);
		position:relative;
	}
	p:before{
		content:'';
		position:absolute;
		height:1px;
		width:cal(40rem);
		background:#e5e5e5;
		margin-top:cal(13rem);
		margin-left:cal(-45rem);
	}
	p:after{
		content:'';
		position:absolute;
		height:1px;
		width:cal(40rem);
		background:#e5e5e5;
		margin-top:cal(13rem);
		margin-left:cal(5rem);
	}
	.market{
		.imgs{
			float:left;
			img{
				width:cal(60rem);
				margin-left:cal(13rem);
			}
			h6{
				font-size:cal(11rem);
				margin-left:cal(16rem);
				margin-right:cal(13rem);
				font-weight:normal;
				color:#333;
			}
		}	
	}
}
#layout{
	clear:both;
	float:left;
	width:calc(100%-2px);
	background:#f6f6f6;
	overflow:hidden;
	margin-top:cal(20rem);
	#like{
		float:left;
		p{
			margin-left:cal(105rem);
			margin-top:cal(23rem);
			position:relative;
		}
		p:before{
			content:'';
			position:absolute;
			height:1px;
			width:cal(40rem);
			background:#e5e5e5;
			margin-top:cal(13rem);
			margin-left:cal(-45rem);
		}
		p:after{
			content:'';
			position:absolute;
			height:1px;
			width:cal(40rem);
			background:#e5e5e5;
			margin-top:cal(13rem);
			margin-left:cal(5rem);
		}
		.guess{
			float:left;
			.box{
				float:left;
				height:cal(264rem);
				width:cal(152rem);
				background:#fff;
				border-radius:cal(3rem);
				margin-left:cal(6rem);
				margin-top:cal(18rem);
				img{
					width:cal(152rem);
					border-top-#{$lef}-radius:cal(3rem);
					border-top-#{$rig}-radius:cal(3rem);
				}
				h3{
					float:left;
					font-size:cal(12rem);
					padding:cal(4rem);
					
					background:#eff3f6;
					margin-right:cal(5rem);
					color:#333333;
				}
				h3:nth-child(2){
					background:#f9e4a8;
				}
				h4{
					clear:both;
					float:left;
					font-size:cal(10rem);
					color:#333333;
					margin-top:cal(9rem);
				}
				h5{
					font-size:cal(9rem);
					float:right;
					margin-top:cal(8rem);
					margin-right:cal(3rem);
					color:#999999;
				}
				span{
					float:right;
					font-family:'iconfont';
					font-size:cal(9rem);
					color:#999999;
					margin-right:cal(8rem);
					margin-top:cal(9rem);
				}
			}
			.box:nth-child(26){
				margin-bottom:cal(55rem);
			}
			.box:nth-child(2) h3:nth-child(2){
				background:#ff743c;
				color:#fff;
			}
		}
	}
}
#fix{
	.box{
		height:cal(40rem);
		width:cal(317rem);
		background:#fff;
		position:fixed;
		left:0;
		bottom:0;
		.son{
			float:left;
			color:#b5b3b3;
			margin-left:cal(20rem);
			margin-right:cal(35rem);
		}
		.son:nth-child(1){
			color:#f9a0a0;
		}
		.son:nth-child(4){
			margin-right:cal(20rem);
		}
		span{
			font-family:'iconfont';
			font-size:cal(20rem);
		}
		p{
			font-size:cal(11rem);
		}
		a{
			color:#b5b3b3;
		}
	}
}