@function cal($num){
	@return $num/20;
}
span{
	font-family:'iconfont';
}
ol li{
	list-style:none;
}
#top{
	p{
		font-size:cal(12rem);
		position:relative;
		margin-top:cal(14rem);
		text-align:center;
		color:#333333;
		margin-bottom:cal(15rem);
	}
	p:after{
		position:absolute;
		content:'';
		width:cal(25rem);
		height:cal(2rem);
		background:#d9d9d9;
		top:cal(8rem);
		margin-left:cal(2rem);
	}
	p:before{
		position:absolute;
		content:'';
		width:cal(25rem);
		height:cal(2rem);
		background:#d9d9d9;
		top:cal(8rem);
		margin-left:cal(-27rem);
	}
	.imgs{
		margin-left:cal(14rem);
		margin-right:cal(12rem);
		margin-bottom:cal(16rem);
		float:left;
		img{
			width:cal(52rem);
			height:cal(52rem);
			border-radius:50%;
		}
		h1{
			width:cal(50rem);
			height:cal(11rem);
			font-weight:normal;
			font-size:cal(11rem);
			color:#333333;
			text-align:center;
		}
	}
	hr{
		width:cal(320rem);
		height:cal(9rem);
		background:#f6f6f6;
		border:none;
		border:none;
	}
}
#middle{
	clear:both;
	p{
		font-size:cal(12rem);
		position:relative;
		margin-top:cal(14rem);
		text-align:center;
		color:#333333;
		margin-bottom:cal(15rem);
	}
	p:after{
		position:absolute;
		content:'';
		width:cal(25rem);
		height:cal(2rem);
		background:#d9d9d9;
		top:cal(8rem);
		margin-left:cal(2rem);
	}
	p:before{
		position:absolute;
		content:'';
		width:cal(25rem);
		height:cal(2rem);
		background:#d9d9d9;
		top:cal(8rem);
		margin-left:cal(-27rem);
	}
	.imgs{
		margin-left:cal(14rem);
		margin-right:cal(12rem);
		margin-bottom:cal(16rem);
		float:left;
		img{
			width:cal(52rem);
			height:cal(52rem);
			border-radius:50%;
		}
		h1{
			font-weight:normal;
			font-size:cal(11rem);
			color:#333333;
		}
	}
}
#bottom{
	float:left;
	height:100%;
	width:100%;
	background:#f6f6f6;
	p{
		font-size:cal(12rem);
		position:relative;
		margin-top:cal(36rem);
		text-align:center;
		color:#333333;
		margin-bottom:cal(15rem);
	}
	p:after{
		position:absolute;
		content:'';
		width:cal(25rem);
		height:cal(2rem);
		background:#d9d9d9;
		top:cal(8rem);
		margin-left:cal(2rem);
	}
	p:before{
		position:absolute;
		content:'';
		width:cal(25rem);
		height:cal(2rem);
		background:#d9d9d9;
		top:cal(8rem);
		margin-left:cal(-27rem);
	}
	ol{
		float:left;
		width:cal(320rem);
		height:cla(30rem);
		background:#ff0077;
		li{
			float:left;
			color:#fff;
			font-size:cal(11rem);
			padding:cal(2rem);
			margin-left:cal(20rem);
			height:cal(14rem);
			width:cal(36rem);
			background:#ff0077;
			margin-bottom:cal(5rem);
		}
	}
	h6{
		float:left;
		width:cal(316rem);
		height:5px;
		background:#fff;
		margin-top:cal(5rem);
		margin-bottom:cal(10rem);
		box-shadow:0 cal(5rem) cal(5rem) #cdcdcd;
	}
	#sift{	
		.box{
			float:left;
			height:cal(250rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(6rem);
			img{
				width:cal(151rem);
			}
			b{
				float:left;
				font-weight:normal;
				font-size:cal(11rem);
				padding:cal(2rem);
				background:#eff3f6;
				color:#5a6f7a;
				margin-top:cal(-3rem);
				margin-left:cal(13rem);
			}
			b:nth-child(3){
				margin-left:cal(3rem);
			}
			h4{
				clear:both;
				float:left;
				font-size:cal(10rem);
				margin-left:cal(13rem);
				margin-top:cal(8rem);
			}
			h5{
				float:right;
				font-size:cal(9rem);
				font-weight:normal;
				color:#999999;
				margin-top:cal(8rem);
				margin-right:cal(4rem);
			}
			span{
				color:#999999;
				font-size:cal(9rem);
				float:right;
				margin-top:cal(9rem);
				margin-right:cal(11rem);
			}
		}
	}
	#scross{
		.box{
			display:none;
			float:left;
			height:cal(250rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(6rem);
			img{
				width:cal(151rem);
			}
			b{
				float:left;
				font-weight:normal;
				font-size:cal(11rem);
				padding:cal(2rem);
				background:#eff3f6;
				color:#5a6f7a;
				margin-top:cal(-3rem);
				margin-left:cal(13rem);
			}
			b:nth-child(3){
				margin-left:cal(3rem);
			}
			h4{
				clear:both;
				float:left;
				font-size:cal(10rem);
				margin-left:cal(13rem);
				margin-top:cal(8rem);
			}
			h5{
				float:right;
				font-size:cal(9rem);
				font-weight:normal;
				color:#999999;
				margin-top:cal(8rem);
				margin-right:cal(4rem);
			}
			span{
				color:#999999;
				font-size:cal(9rem);
				float:right;
				margin-top:cal(9rem);
				margin-right:cal(11rem);
			}
		}
	}
	#mcm{	
		.box{
			display:none;
			margin-top:cal(27rem);
			float:left;
			height:cal(250rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(6rem);
			img{
				width:cal(151rem);
			}
			b{
				float:left;
				font-weight:normal;
				font-size:cal(11rem);
				padding:cal(2rem);
				background:#eff3f6;
				color:#5a6f7a;
				margin-top:cal(-3rem);
				margin-left:cal(13rem);
			}
			b:nth-child(3){
				margin-left:cal(3rem);
			}
			h4{
				clear:both;
				float:left;
				font-size:cal(10rem);
				margin-left:cal(13rem);
				margin-top:cal(8rem);
			}
			h5{
				float:right;
				font-size:cal(9rem);
				font-weight:normal;
				color:#999999;
				margin-top:cal(8rem);
				margin-right:cal(4rem);
			}
			span{
				color:#999999;
				font-size:cal(9rem);
				float:right;
				margin-top:cal(9rem);
				margin-right:cal(11rem);
			}
		}
	}
	#port{	
		.box{
			display:none;
			margin-top:cal(27rem);
			float:left;
			height:cal(250rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(6rem);
			img{
				width:cal(151rem);
			}
			b{
				float:left;
				font-weight:normal;
				font-size:cal(11rem);
				padding:cal(2rem);
				background:#eff3f6;
				color:#5a6f7a;
				margin-top:cal(-3rem);
				margin-left:cal(13rem);
			}
			b:nth-child(3){
				margin-left:cal(3rem);
			}
			h4{
				clear:both;
				float:left;
				font-size:cal(10rem);
				margin-left:cal(13rem);
				margin-top:cal(8rem);
			}
			h5{
				float:right;
				font-size:cal(9rem);
				font-weight:normal;
				color:#999999;
				margin-top:cal(8rem);
				margin-right:cal(4rem);
			}
			span{
				color:#999999;
				font-size:cal(9rem);
				float:right;
				margin-top:cal(9rem);
				margin-right:cal(11rem);
			}
		}
	}
	#halter{	
		.box{
			display:none;
			float:left;
			height:cal(250rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(6rem);
			margin-top:cal(27rem);
			img{
				width:cal(151rem);
			}
			b{
				float:left;
				font-weight:normal;
				font-size:cal(11rem);
				padding:cal(2rem);
				background:#eff3f6;
				color:#5a6f7a;
				margin-top:cal(-3rem);
				margin-left:cal(13rem);
			}
			b:nth-child(3){
				margin-left:cal(3rem);
			}
			h4{
				clear:both;
				float:left;
				font-size:cal(10rem);
				margin-left:cal(13rem);
				margin-top:cal(8rem);
			}
			h5{
				float:right;
				font-size:cal(9rem);
				font-weight:normal;
				color:#999999;
				margin-top:cal(8rem);
				margin-right:cal(4rem);
			}
			span{
				color:#999999;
				font-size:cal(9rem);
				float:right;
				margin-top:cal(9rem);
				margin-right:cal(11rem);
			}
		}
	}
}