@function cal($num){
	@return $num/20;
}
a{
	text-decoration:none
}
#top{
	height:cal(36rem);
	width:cal(320rem);
	background:#fafafa;
	span{
		float:left;
		color:#6d6d6d;
		font-family:'iconfont';
		line-height:cal(36rem);
		margin-left:cal(16rem);
		font-size:cal(13rem);
	}
	p{
		float:left;
		color:#5e5e5e;
		font-size:cal(13rem);
		line-height:cal(36rem);
		left:cal(100rem);
		position:relative;
	}
	p:after{
		position:absolute;
		content:'';
		width:cal(320rem);
		height:1px;
		background:#c9c7c8;
		top:cal(36rem);
		left:cal(-130rem);
	}
	.city{
		clear:both;
		h1{
			text-align:center;
			font-size:cal(12rem);
			font-weight:normal;
			line-height:cal(35rem);
			color:#999999;
		}
		h2{
			float:left;
			font-size:cal(20rem);
			color:#333333;
			margin-left:cal(118rem);
			margin-top:cal(5rem);
		}
		h3{
			float:left;
			font-size:cal(16rem);
			color:#9c9999;
			margin-top:cal(8rem);
		}
		span{
			float:right;
			font-size:cal(18rem);
			margin-right:cal(14rem);
		}
	}
}
#middle{
	.box{
		float:left;
		p{
			font-size:cal(11rem);
			color:#666666;
			margin-left:cal(112rem);
			margin-top:cal(10rem);
		}
		
		input{
			float:left;
			border-top:none;
			outline:none;
			border-left:none;
			border-right:none;
			font-size:cal(20rem);
			color:#ededee;
			margin-left:cal(13rem);
			margin-top:cal(10rem);
			padding:cal(10rem);
			text-align:center;
		}
	}
	.box1{
		float:left;
		p{
			font-size:cal(11rem);
			color:#666666;
			margin-left:cal(142rem);
			margin-top:cal(10rem);
		}
		input{
			clear:both;
			float:left;
			width:cal(190rem);
			border-left:none;
			border-top:none;
			border-right:none;
			outline:none;
			font-size:cal(20rem);
			color:#ededee;
			margin-left:cal(13rem);
			margin-top:cal(10rem);
			padding:cal(10rem);
			text-align:right;
		}
		h4{
			float:right;
			width:cal(100rem);
			font-size:cal(13rem);
			color:#ff5777;
			font-weight:normal;
			margin-top:cal(-10rem);
		}
	}
	.pane{
		clear:both;
		float:left;
		width:cal(294rem);
		background:#ff1877;
		margin-top:cal(20rem);
		margin-left:cal(13rem);
		margin-bottom:cal(17rem);
		p{
			font-size:cal(13rem);
			color:#fff;
			text-align:center;
			line-height:cal(42rem);
		}
	}
	h1 a{
		clear:both;
		float:left;
		color:#ff5777;
		font-weight:normal;
		font-size:cal(11rem);
		margin-left:cal(13rem);
	}
	h2{
		float:right;
		font-weight:normal;
		font-size:cal(11rem);
		margin-right:cal(13rem);
		color:#ff5777;
	}
}
#bottom{
	h6{
		clear:both;
		float:left;
		font-size:cal(9rem);
		position:relative;
		top:cal(36rem);
		left:cal(142rem);
		color:#f1f1f1;
	}
	h6:before{
		height:1px;
		width:cal(114rem);
		background:#f1f1f1;
		position:absolute;
		content:'';
		left:cal(25rem);
		top:cal(7rem);
	}
	h6:after{
		height:1px;
		width:cal(114rem);
		background:#f1f1f1;
		position:absolute;
		content:'';
		left:cal(-120rem);
		top:cal(7rem);
	}
	.box{
		clear:both;
		float:left;
		height:cal(90rem);
		width:cal(90rem);
		background:#0598e2;
		border-radius:50%;
		margin-left:cal(110rem);
		margin-top:cal(50rem);
		span{
			clear:both;
			float:left;
			font-family:'iconfont';
			font-weight:bold;
			color:#fff;
			margin-top:cal(25rem);
			margin-left:cal(30rem);
			font-size:cal(26rem);
		}
		p{
			clear:both;
			font-size:cal(8rem);
			color:#fff;
			margin-left:cal(25rem);
		}
	}
}