@function cal($num){
	@return $num/20;
}
span{
	font-family:'iconfont';
}
#layout{
	width:cal(320rem);
	height:100%;
	background:#f6f6f6;
	#top{
		height:cal(37rem);
		width:cal(320rem);
		background:#fafafa;
		position:relative;
		span{
			float:left;
			line-height:cal(37rem);
			margin-left:cal(12rem);
			font-size:cal(13rem);
			color:#5e5e5e;
		}
		p{
			float:left;
			margin-left:cal(106rem);
			font-size:cal(13rem);
			line-height:cal(37rem);
			color:#5e5e5e;
		}
		h1{
			float:left;
			font--weight:normal;
			line-height:cal(37rem);
			font-size:cal(13rem);
			margin-left:cal(73rem);
			color:#5e5e5e;
		}
		span:nth-child(3){
			float:right;
			font-size:cal(13rem);
			color:#5e5e5e;
		}
	}
	#top:after{
		clear:both;
		position:absolute;
		content:'';
		width:cal(320rem);
		height:1px;
		background:#c9c7c8;
		right:cal(0rem);
		top:cal(37rem);
	}
	#center{
		position:relative;
		top:cal(13rem);
		height:cal(32rem);
		background:#fff;
		input{
			float:left;
			margin-top:cal(10rem);
			margin-left:cal(13rem);
			margin-right:cal(8rem);
			height:cal(18rem);
			width:cal(18rem);
		}
		p{
			float:left;
			font-size:cal(11rem);
			color:#5e5e5e;
			line-height:cal(32rem);
		}
		h1{
			float:left;
			font-size:cal(11rem);
			font-weight:normal;
			line-height:cal(32rem);
			color:#5e5e5e;
			margin-left:cal(152rem);
		}
		span{
			float:right;
			font-size:cal(11rem);
			color:#5e5e5e;
			line-height:cal(32rem);
			margin-right:cal(8rem);
		}
	}
	#center:before{
		position:absolute;
		content:'';
		width:cal(320rem);
		height:1px;
		background:#d8d8d8;
		right:cal(0rem);
	}
	#center:after{
		position:absolute;
		content:'';
		width:cal(320rem);
		height:1px;
		background:#e5e5e5;
		right:cal(0rem);
		top:cal(32rem);
	}
	#bottom{
		position:relative;
		height:cal(108rem);
		background:#ffffff;
		margin-top:cal(14rem);
		input{
			float:left;
			margin-top:cal(24rem);
			margin-left:cal(13rem);
			margin-right:cal(8rem);
			height:cal(18rem);
			width:cal(18rem);
		}
		img{
			float:left;
			width:cal(55rem);
			margin-top:cal(11rem);
			margin-right:cal(13rem);
			margin-bottom:cal(14rem);
		}
		p{
			float:left;
			margin-top:cal(11rem);
			font-size:cal(11rem);
			color:#5e5e5e;
		}
		h4{

			width:cal(320rem);
			font-size:cal(11rem);
			color:#999999;
		}
		h3{
			float:left;
			font-size:cal(11rem);
			margin-top:cal(20rem);
			color:#333;
		}
		del{
			float:left;
			font-size:cal(9rem);
			margin-top:cal(20rem);
			margin-left:cal(3rem);
			color:#999999;
		}
		h5{
			float:right;
			font-size:cal(9rem);
			margin-top:cal(20rem);
			margin-right:cal(15rem);
			color:#999999;
		}
	}
	#bottom:after{
		position:absolute;
		content:'';
		width:cal(320rem);
		height:1px;
		background:#e5e5e5;
		right:cal(0rem);
		top:cal(110rem);
	}
	#fix{
		position:relative;
		left:0;
		bottom:0;
		.box{
			height:cal(42rem);
			width:cal(320rem);
			background:#fff;
			position:fixed;
			left:0;
			bottom:0;
			input{
				float:left;
				height:cal(17rem);
				width:cal(17rem);
				border:1px solid #c3c3c3;
				border-radius:50%;
				margin-top:cal(14rem);
				margin-left:cal(13rem);
				margin-right:cal(7rem);
			}
			p{
				float:left;
				font-size:cal(11rem);
				margin-top:cal(16rem);
				margin-right:cal(10rem);
				color:#5e5e5e;
			}
			h2{
				float:left;
				font-size:cal(11rem);
				margin-top:cal(16rem);
				color:#ee4566;
			}
			.son{
				float:right;
				height:cal(29rem);
				width:cal(85rem);
				background:#ff5777;
				border-radius:cal(5rem);
				margin-right:cal(18rem);
				margin-top:cal(8rem);
				h5{
					font-size:cal(13rem);
					color:#fff;
					font-weight:normal;
					text-align:center;
					line-height:cal(29rem);
				}
			}
		}
	}
	#fix:before{
		position:absolute;
		content:'';
		width:cal(320rem);
		height:1px;
		background:#d8d8d8;
		right:cal(0rem);
		top:cal(334rem);
	}
}
